@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Company Gifts Ordering Site</h1>
    <p></p>
    <h3>Go
        @Html.ActionLink("here", "SelectCategory", "Orders") to choose this year's company gift.
    </h3>
</div>
